/* Write your CSS here */
.transaction-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-left-color: #cbd5e1;
  border-right-color: #cbd5e1;
  border-bottom-color: #cbd5e1;
  border-width: 0.5px;
  border-top-style: none;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
}
.icon-style {
  height: 20px;
}

.transaction-item-title-style {
  width: 30%;
  font-weight: 400;
  color: #334155;
}
.transaction-item-amount-style {
  width: 30%;
  font-weight: 400;
  color: #334155;
}
.transaction-item-type-style {
  width: 30%;
  font-weight: 400;
  color: #334155;
}
